<%=render 'shared/errors', obj:@user %>
<div class="jumbotron">
  <div class="container text-center">
        <h1><span class = 'glyphicon glyphicon-ok'>CheckIt!</h1>
        <p class= "lead">A very simple application that let you organize your projects and measure your progress. </p>  <p>Register Now!</p>
        <%= link_to new_user_path do %>
          <button class= "btn btn-info">
            Register!
          </button>
        <% end %>
  </div>  
</div>

<div class= "row text-center">
  <h2 id="workflow-title">Easy and intuitive work-flow</h2>
</div>
<div class="row">
  <div class="container text-center">
    <div class="col-xs-4">
      <i class="fa fa-list-alt fa-5x"></i>
      <p class="lead">Create Projects with different labels</p>
    </div>
    <div class="col-xs-4">
      <i class="fa fa-list-ol fa-5x"></i>
      <p class="lead">Add tasks </p>
    </div>
    <div class="col-xs-4">
      <i class="fa fa-check-square-o fa-5x"></i>
      <p class="lead">Get it done!</p>
    </div>
  </div>
</div>
<%= render "layouts/footer"  %>