$('#total-number-of-projects').html("Projects: <span id = 'nav-projects'><%=user.projects_total%> </span>")
$('#total-number-of-deadlines').html("Upcoming Deadlines: <span id='nav-deadlines'><%= user.upcoming_deadlines.size%></span>")