
.jumbotron{
  margin-top:-5%;
}
#workflow-title{
  margin-top: 0;
  margin-bottom: 2%;
}
.my-container{
  position:relative;
  margin-bottom: 20px;
  border:1px solid #E3E8E7;
  box-shadow: 5px 5px 8px #888888;
}

.dash-board-title{
  font-family: Ubuntu;
  text-align: center;
}

#new-project{
  cursor:pointer;
  font-size: 3em;
}


/*project form style*/
.radio-label{
  padding-right:15px;
}

.project-form-container{
  border:1px solid #E3E8E7;
  box-shadow: 5px 5px 8px #888888;
}

.hide-form{
  display:none;
}
/*end of project form style*/

/*Styles for the labels colors and margins*/
.category{
  float:left;
  position: absolute;
  top:0;
  bottom:0;
  width: 2em;
}

.red{
  @extend .category;
  background-color: #E62B2B;
}

.blue{
  @extend .category;
  background-color: #3366FF;
}
.green{
  @extend .category;
  background-color: #0DE042;
}
.yellow{
  @extend .category;
  background-color: #FFDA47;
}

.brown{
  @extend .category;
  background-color: #663300;
}
/*End of categories styling*/

/*Style for the projects blocks in index*/
.link-project-title:hover{
  text-decoration: none;
  
}
.link-to-tasks{
  margin-left: 10%;
  margin-bottom: 4%;
}

.project-title-index{
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 2em;
  font-family: Ubuntu;

  color: black;
}

.project-title-index:hover{
  color:#5A5A5C;
}

.created-at-index{
  margin-left: 4em;
  color:#919194;
}

.project-description-index{
  margin-left: 3.5em;
  margin-top: 1em;
}

.progress{
  margin-top: 10px;
}

.pb-percentage{
  color:black;
}

.edit-project{
  position:absolute;
  bottom:1em ;
  right:3em;
  float:right;
  font-size: 1em;
  color: black;
}
.erase-project{
  @extend .edit-project;
  right:1em;
}
.correcting-height{
  height:8em;
}
.pending-tasks{
  font-family: ubuntu;
}

.project-progress{
  font-size: 2em;
  font-weight: bold;
}
/*End of style of project block*/


/*Style for project show page*/
.trash-icon{
  position:relative;
  left:30%;
  margin-right: -6px;
}
.check{
  float:right;
}

.task-container{
  margin-top:20px;
}

.check-icon{
  font-size: 2em;
}

.disable{
  pointer-events: none;
}

.project-title{
  @extend .project-title-index;
  margin-left: 0;
}

.created-at{
  @extend .created-at-index;
  margin-left: 0;
}

.project-description{
  @extend .project-description-index;
  margin-left: 0;
}
#test{
  clear: both;
}
#checkbox-label{
  float:left;
  position: relative;
  top: 1.2em;
  font-size: 1.3em;
}
#checkbox-hide{
  @extend #checkbox-label;
  transform: scale(1.2);
  position: relative;
  right:3px;
}

#date{
  height: 25px;
  font-size: 14px;
  line-height: 14px;
}
#task_description {
  height: 25px;
  font-size: 14px;
  line-height: 14px;
}
/*end of show page styles*/

/*navigation*/
#nav-projects{
  font-size: 1.5em;
  color:blue;
  font-weight: bold
}
#nav-deadlines{
  @extend #nav-projects;
  color:#E60000;
}
.front-icon{
  font-size: 7em;
  text-align: center;
  position:relative;
  left: 0.2em;
}


/*end of navigation*/

footer {
  margin-top: 5%;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}