<div class="container">
  <footer class="footer">
    <small>
      CheckIt! @2014
      by <a href="http://eduardo-blog.herokuapp.com/">Eduardo Poleo</a>
    </small>
    <nav>
      <ul>
        <li><a href="https://github.com/eduardopoleo">
          <i class="fa fa-github"></i>
        </a></li>
        <li><a href="http://ca.linkedin.com/pub/eduardo-poleo/56/364/a4">
          <i class="fa fa-linkedin-square"></i>
        </a></li>
      </ul>
    </nav>
  </footer>
</div>