<%= form_tag 'login', class: "navbar-form navbar-right" do  %>
  <div class="form-group">
    <%= text_field_tag :user_name, nil, class: "form-control", placeholder: "Username"%>
  </div> 
  <div class="form-group">
    <%= password_field_tag :password, nil, class: "form-control", placeholder: "Password" %>
  </div>
  <%= button_tag( :class => "btn btn-default") do %>
      <span class='glyphicon glyphicon-log-in'></span> Log In 
  <% end %>
<% end %>